.idea/
**pycache**/

datasets/
PlanD/dataset_root/

outputs/
test_outputs/

align_out/
compare_runs/
effect_report/
paper_figs_qualitative/
Paper_Results_Final/

pose_ablation_report/
pose_check_out/
pose_check_out_testset/
pose_plots_out/
pose_report_ABCD/
pose_report_compare/
pose_report_mainline/
qualitative_report/
residual_report/

runs_compare/
runs_fusion/
runs_pose_unified/

PlanA/runs_pose/
PlanA/runs_pose_fixed/

PlanA_RGB/runs_pose_rgb/

PlanD/runs_pose/
PlanD/runs_pose_final/
PlanD/runs_pose_fixed/
PlanD/runs_pose_full/
PlanD/runs_pose_full_final/
PlanD/runs_pose_full_fixed/

*.log
__pycache__/
*.pyc
*.pyo
PlanD/runs_pose*/

# Experiment images and analysis outputs
test_imgs/
PlanA/analysis_*
PlanA/ab_crop_compare_*
PlanA/ablation_compare1/
PlanA/test_exports*/
PlanA_RGB/paper_figs*/

PlanA/ab_compare/
PlanD/analysis_*
PlanD/ab_crop_compare_*
PlanD/ablation_compare1/
PlanD/ab_compare/
PlanD/debug_rois/
PlanD/test_exports*/
PlanA_RGB/test_exports*/
SeAFusion/
